$bg-list: #E2E4E6;
$bg-card: #fff;

body {
  .filters {
    padding: 20px;
  }

  .board {
    clear: both;
    margin-bottom: 2px;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;

    h2 {
      color: #fff;
    }
  }

  .board-name {
    cursor: pointer;
  }

  .list {
    background: $bg-list;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    vertical-align: top;
    width: 250px;
    white-space: normal;
  }

  .card-container {
    padding: 0;
  }

  .card {
    background: $bg-card;
    border-radius: 6px;
    font-size: 90%;
    padding: 10px;

    .members {
      img:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
}
