@import '~bootstrap/scss/_variables.scss'; // sass-lint:disable-line clean-import-paths
$bg-list: #e2e4e6;
$bg-card: $white;

$label-shadow: rgba(0, 0, 0, .2);

$label-color-green: #61bd4f;
$label-color-yellow: #f2d600;
$label-color-orange: #ffab4a;
$label-color-red: #eb5a46;
$label-color-purple: #c377e0;
$label-color-blue: #0079bf;
$label-color-sky: #00c2e0;
$label-color-lime: #51e898;
$label-color-pink: #ff80ce;
$label-color-black: #4d4d4d;

body {
  .filters {
    padding: 20px;
  }

  .board {
    clear: both;
    margin-bottom: 2px;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;

    h2 {
      color: $white;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .board-name {
    cursor: pointer;
  }

  .list {
    background: $bg-list;
    border-radius: 6px;
    display: inline-block;
    margin-right: 10px;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    vertical-align: top;
    white-space: normal;
    width: 250px;

    &.double {
      max-height: 1000px;
    }
  }

  .card-container {
    padding: 0;
  }

  .card-item {
    background: $bg-card;
    border-radius: 6px;
    font-size: 90%;
    margin: 0 0 6px;
    padding: 10px;
    word-break: break-word;

    .card-label {
      border-radius: 3px;
      color: $white;
      display: inline-block;
      font-size: 90%;
      margin: 3px 3px 0 0;
      max-width: 100%;
      overflow: hidden;
      padding: 1px 5px;
      text-overflow: ellipsis;
      text-shadow: 0 0 5px $label-shadow, 0 0 2px $black;
      white-space: nowrap;

      &::after {
        content: '.';
        visibility: hidden;
      }
    }

    .card-label-green {
      background-color: $label-color-green;
    }

    .card-label-yellow {
      background-color: $label-color-yellow;
    }

    .card-label-orange {
      background-color: $label-color-orange;
    }

    .card-label-red {
      background-color: $label-color-red;
    }

    .card-label-purple {
      background-color: $label-color-purple;
    }

    .card-label-blue {
      background-color: $label-color-blue;
    }

    .card-label-sky {
      background-color: $label-color-sky;
    }

    .card-label-lime {
      background-color: $label-color-lime;
    }

    .card-label-pink {
      background-color: $label-color-pink;
    }

    .card-label-black {
      background-color: $label-color-black;
    }

    .card-members {
      img {
        &:not(:last-child) {
          margin-right: 4px;
        }
      }
    }
  }
}
